.btn {
    cursor: pointer;
}

ul.flex-box {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.g-member {
    padding: 10px 5px;
}

.g-userMoney {
    color: #BBB;
    height: 37px;
    line-height: 37px;
    padding-left: 10px;
}

.g-userMoney .orange {
    padding: 0 4px;
}

.placeholder {
    color: #999;
}

.tips {
    margin: 2px 39px;
    padding: 12px 4px;
}

.tips .tips-title {
    display: block;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    color: #248ce6;
}

.tips .tips-row {
    color: #FF5422;
    font-size: 13px;
    padding-bottom: 7px;
}

.bb {
    border-bottom: 1px solid rgb(210, 210, 210);
}

.bt {
    border-top: 1px solid rgb(210, 210, 210);
}

.recharge .recharge_nav {
    width: 100%;
}

.recharge .recharge_nav > div {
    width: 33.33%;
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    float: left;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.recharge .recharge_nav > div.on {
    border-bottom: 2px solid #f60;
}

.recharge .recharge_body .recharge_content {
    margin: 2px 0;
    /* padding: 12px 4px; */
    display: none;
}

.recharge .recharge_body .recharge_content.on {
    display: block;
}

.recharge .recharge_body .recharge_content .pay_header {
    margin: 0 20px;
    display: block;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
}

.recharge .recharge_body .recharge_content .pay_img {
    text-align: center;
}

.recharge .recharge_body .recharge_content .pay_img > img {
    width: 100%;
    /* height: 272px; */
    display: block;
    margin: 0 auto;
}

.recharge .recharge_body .recharge_content .pay_img > a {
    font-size: 14px;
    background-color: #ff6600;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
}

.recharge .recharge_body .recharge_content .pay_tips {
    color: red;

}

.recharge .recharge_body .recharge_content .pay_tips > h5 {
    padding: 10px 0;
    font-size: 15px;
}

.recharge .recharge_body .recharge_content .pay_tips > ul > li {
    padding: 5px 0;
    padding-left: 1em;
    font-size: 15px;
}

.form {
    display: block;
    padding: 7px 0 20px 0;
}

.form .row {
    padding-top: 10px;
}

.form .row > label {
    color: #565454;
}

.form .row > label i {
    color: #ff6600;
    padding: 25px 6px 1px 0;
}

.form .row input, .form .row select {
    height: 33px;
    /*line-height: 36px;*/
    padding: 0px 6px;
    margin-top: 5px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.form .row .pwd select {
    width: 33px;
}

.form .btn {
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 36px;
    text-align: center;
    line-height: 37px;
    color: #fff;
    background-color: #ff6600;
    cursor: pointer;
}

.gobind_btn {
    display: block;
    width: 80px;
    border-radius: 4px;
    height: 36px;
    text-align: center;
    line-height: 37px;
    color: #fff;
    background-color: #ff6600;
    cursor: pointer;
}

.recharge_form {

}

.recharge_form .recharge_money {
    margin-top: 10px;
}

.recharge_form .recharge_money li {
    width: 100%;
    /*display: inline-block;*/
    padding-left: 5px;
    padding-top: 10px;
    box-sizing: border-box;
}

.recharge_form .recharge_money .recharge_btns {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.recharge_form .recharge_money li:nth-child(3n-2) {
    /* padding-left: 0; */
}

.recharge_form .recharge_money li:first-child {
    padding-left: 0;
}

.recharge_form .recharge_money .btn_money {
    display: block;
    /*     width: 100%; */
    line-height: 30px;
    background-color: #ff6600;
    /*border: 1px solid #ff6600;*/
    color: white;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}

.recharge_form .recharge_money input {
    height: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
}

.recharge_form .recharge_payway {
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
}

.recharge_form .recharge_payway ul {

}

.recharge_form .recharge_payway li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dotted #c0c0c0;
    padding: 5px;
}

.recharge_form .recharge_payway li .title {
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

.recharge_form .recharge_payway li .description {
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #666;
}

.recharge_form .recharge_payway li:last-child {
    border-bottom: none;
}

.recharge_form .recharge_payway li .z-bank-Round,
.recharge_form .recharge_payway li .z-bank-Roundsel {
    margin-top: 16px;
}

.recharge_form .recharge_submit {
    text-align: center;
    padding: 5px 0;
    padding-top: 30px;
}

.recharge_form .recharge_submit .btn {
    height: 40px;
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 40px;
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 3px;
    color: white;
    box-sizing: border-box;
}